body{
	margin: 0;
	width: 100%;
	max-height: 100%;
}

#box{
	color: white;
	z-index: -1;
	word-wrap: break-word;
}

#head{
	word-wrap: inherit;
}

#midpage{
	word-wrap: inherit;
}








#subject{
	position: absolute;
	width: 10%;
	height: 100%;
	min-height: 400px;
	background-color: blue;
}

#poll{
	position: absolute ;
	width: 70%;
	height: 100%;
	min-height: 700px;
	background-color: black;

}