body{
	margin: 0;
	width: 100%;
	max-height: 100%;
}



#box{
	color: white;
	z-index: -1;
	word-wrap: break-word;
}

#head{
	position: relative;
	word-wrap: inherit;
}

#navigation{
	position: absolute;
	margin-top: 85.5px;

    z-index: 1000;

}

#public{
	color: green;
}

#voice{
	color: red;
}

#home{
	font-weight: bold;
	transition-property: color;
    transition-duration: 1s;
}

#home:hover{
	color: green;
}

li + li{
	margin-left: 50px;
}

#midpage{
	word-wrap: inherit;
    overflow: hidden;
    z-index: -1;
}

#midpage div + div {
	margin-left: 70px;
}

#subjects{
	position: relative;
	word-wrap: break-word;
	float: left;
	overflow: hidden;
	
}

#poll{
	position: relative;
	word-wrap: break-word;
	float: left;
}

#news{
	position: relative;
	word-wrap: break-word;
	float: left;
}
