body{
	margin: 0;
	width: 100%;
	max-height: 100%;
}



#box{
	color: white;
	z-index: -1;
	word-wrap: break-word;
}

#head{
	position: relative;
	word-wrap: inherit;
}

#navigation{
	position: absolute;
	margin-top: 85.5px;
    z-index: 1000;
}

#public{
	color: green;
}

#voice{
	color: red;
}

#home{
	font-weight: bold;
	transition-property: color;
    transition-duration: 1s;
}

#home:hover{
	color: green;
}

li + li{
	margin-left: 50px;
}

#midpage{
	word-wrap: inherit;
    overflow: hidden;
    z-index: -1;
}


#subjects{
	word-wrap: break-word;
	float: left;
    border: 1px solid black;
}

#subjects:hover{
	border-right: 5px solid black;
}


#one{
	width: 150px;
	font-weight: bold;
	transition-property: color;
    transition: width;

}#one:hover{
	width: 195px;
	color: green;
}

#two{
	width: 150px;
	font-weight: bold;
	transition-property: color;
    transition: width;

}#two:hover{
	width: 195px;
	color: green;
}

#three{
	width: 150px;
	font-weight: bold;
	transition-property: color;
    transition: width;

}#three:hover{
	width: 195px;
	color: green;
}

#four{
	width: 150px;
	font-weight: bold;
	transition-property: color;
    transition: width;

}#four:hover{
	width: 195px;
	color: green;
}

#five{
	width: 150px;
	font-weight: bold;
	transition-property: color;
    transition: width;

}#five:hover{
	width: 195px;
	color: green;
}

#six{
	width: 150px;
	font-weight: bold;
	transition-property: color;
    transition: width;

}#six:hover{
	width: 195px;
	color: green;
}

#seven{
	width: 150px;
	font-weight: bold;
	transition-property: color;
    transition: width;

}#seven:hover{
	width: 195px;
	color: green;
}

#eight{
	width: 150px;
	font-weight: bold;
	transition-property: color;
    transition: width;

}#eight:hover{
	width: 195px;
	color: green;
}

#nine{
	width: 150px;
	font-weight: bold;
	transition-property: color;
    transition: width;

}#nine:hover{
	width: 195px;
	color: green;
}

#ten{
	width: 150px;
	font-weight: bold;
	transition-property: color;
    transition: width;

}#ten:hover{
	width: 195px;
	color: green;
}

#eleven{
	width: 150px;
	font-weight: bold;
	transition-property: color;
    transition: width;

}#eleven:hover{
	width: 195px;
	color: green;
}

#twelve{
	width: 150px;
	font-weight: bold;
	transition-property: color;
    transition: width;

}#twelve:hover{
	width: 195px;
	color: green;
}

#thirteen{
	width: 150px;
	font-weight: bold;
	transition-property: color;
    transition: width;

}#thirteen:hover{
	width: 195px;
	color: green;
}

#fourteen{
	width: 150px;
	font-weight: bold;
	transition-property: color;
    transition: width;

}#fourteen:hover{
	width: 195px;
	color: green;
}

#fifteen{
	width: 150px;
	font-weight: bold;
	transition-property: color;
    transition: width;

}#fifteen:hover{
	width: 195px;
	color: green;
}

#poll{
	word-wrap: break-word;
	float: left;
}

#poll:hover{
	border: 5px solid black;
}

#news{
	word-wrap: break-word;
	float: left;
}
