#navigationSide{
	word-wrap: break-word;
	float: left;
	text-align: center;
	vertical-align: middle;
	margin-left: 60px;
	margin-top: 3.5%;
	/*border: 1px solid black;*/
	transition-duration: 1s;
}#navigationSide:hover{
	/*border: 1px solid green;*/
}

#addapost{
	font-size: 25px;
	letter-spacing: 1px;
	border: 1px solid black;
	transition-duration: 1s;
	color: white;
}#addapost:hover{
	border: 1px solid white;
}

#home_side{
	margin-top: 2%;
	font-size: 25px;
	letter-spacing: 1px;
	border: 1px solid black;
	transition-duration: 1s;
	margin-top: 23%;
	color: white;
	text-decoration: none;
}
#home_side:hover{
	border: 1px solid white;
}

#aboutUs{
	font-size: 25px;
	letter-spacing: 1px;
	border: 1px solid black;
	transition-duration: 1s;
	margin-top: 0.5px;
	color: white;
}
#aboutUs:hover{
	border: 1px solid white;
}

#donate{
	font-size: 25px;
	letter-spacing: 1px;
	border: 1px solid black;
	transition-duration: 1s;
	color: white;
}
#donate:hover{
	border: 1px solid white;
}

#peopleOnline{
	font-size: 25px;
	letter-spacing: 1px;
	border: 1px solid black;
	transition-duration: 1s;
	margin-top: 23%;
	color: white;
}
#peopleOnline:hover{
	border: 1px solid white;
}

a:hover{
	text-decoration: none;
}a, a:active, a:focus {
	text-decoration: none;
	outline: none;
}

#eachSubject{
	list-style: none;
}